# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp
*.swo

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
__pycache__/
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# Virtual environments
venv/
.env/
.venv/
env/
ENV/
env.bak/
venv.bak/

# VS Code
.vscode/

# macOS
.DS_Store

# Docker
*.log
*.pid
*.seed
*.pid.lock
build/
docker-compose.override.yml
.env
.env.*
Dockerfile
docker-compose-prod.yml

# Pipenv
Pipfile.lock

# Pytest
.cache/
.pytest_cache/

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
cover/

# MySQL
*.sql

# PostgreSQL
*.pg

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# Sublime Text
*.sublime-project
*.sublime-workspace

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp