[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.0.9"
psycopg2-binary = "==2.9.10"
asgiref = "==3.8.1"
sqlparse = "==0.5.1"
django-crispy-forms = "==2.3"
crispy-bootstrap5 = "==2024.10"
requests = "*"
PyJWT = "*"
django-allauth = {extras = ["socialaccount"], version = "*"}
environs = "*"
dj-database-url = "*"

[dev-packages]

[requires]
python_version = "3.12"
