h1 {
    color: rgb(40, 44, 44);
    font-family: Georgia, 'Times New Roman', Times, serif;

}

p {color:rgb(31, 31, 36);
    font-size: large;
}

.bookcover {
    height: 2000px;
    width: auto;
    display: inline;
}

.navlink {
    color: rgb(112, 66, 66);
}

.about_p {
    color: rgb(96, 99, 99);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.about_li {
    color: rgb(96, 99, 99);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
